.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

.idea/
.vscode/
*.iml

.DS_Store
android/local.properties
ios/Flutter/ephemeral/
ios/Pods/
macos/Flutter/ephemeral/
